@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f9fd;
}

.wrapper {
  width: 90%;
  font-size: 1rem;
  max-width: 43.753rem;
  margin: 1rem auto;
}

.container {
  width: 100%;
}

